.option-cubes-container {
  display: flex;
  .option-cubes {
    width: 200;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 9px;
    border: solid 1px #cccccc;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    img {
      display: block;
      margin: 0 25px;
    }
    .option-cubes-caption {
      font-family: SourceSansPro;
      font-size: 15px;
      line-height: 1;
      letter-spacing: 0.3px;
      color: #999999;
      text-align: center;
      margin-top: 20px;
    }
  }
  .option-cubes-active {
    border: solid 1px #fbb040;
  }
}
